.container
    width: 100%
    max-width: 1140px
    margin: auto

.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
    &-25
        flex-basis: 25%
    &-50
        flex-basis: 50%