.container
    width: 100%
    max-width: 71.25rem
    margin: auto

.row
    display: flex
    align-items: flex-start
    justify-content: space-between
    &-mini
        padding-top: 4.125rem
        padding-bottom: 8.75rem
        border-bottom: 0.0625rem solid #eaf1f7
   
.col
    &-29
        flex-basis: 29%
    &-30
        flex-basis: 30%
    &-25
        flex-basis: 25%
    &-50
        flex-basis: 50%