.hero
    padding-top: 14.375rem
    padding-bottom: 37.8125rem
    background: url('../img/webp/bg.webp') -11.5625rem 0 no-repeat 
    &__title
        margin: 0
        margin-bottom: 0.5rem
        font-size: 4.375rem
        align-items: center 
        color: $dark
        &-mini
            margin: 0
            font-family: 'Roboto'
            font-weight: normal
            font-size: 2.1875rem
            align-items: center 
            color: $dark
    &__text
        max-width: 21.8125rem
        width: 100%
        margin: 0
        margin-top: 1.8125rem
        margin-bottom: 4.0625rem
        font-size: 1rem
    &__buttonsandtxt
        display: flex
        &__button
            &:first-child
                margin-bottom: 0.75rem
        &__txt
            margin-left: 3.3125rem
            max-width: 21.875rem
            width: 100%
            font-size: 1.5625rem
    &__buttons
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

