.hero
    padding-top: 178px
    padding-bottom: 755px
    background: url('../img/webp/bg.webp') center no-repeat
    &__title
        margin-bottom: 8px
        font-family: 'Roboto'
        font-weight: normal
        font-size: 70px
        align-items: center 
        color: black
        &-mini
            font-family: 'Roboto'
            text-transform: uppercase
            font-weight: normal
            font-size: 16px
            align-items: center 
            color: black
    &____buttonsandtxt
        display: flex
    &__buttons
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
