.make
    background: url('../img/webp/wave.webp')no-repeat bottom center
    margin-top: 6.9375rem
    padding-bottom: 7.5rem
    .col__title
        margin-right: 8.4375rem
    &__title
        margin: auto
        text-align: center
        max-width: 31.25rem
        width: 100%
        color: #0F1C2E
        margin-bottom: 4rem
        &__heading
            font-size: 2.0625rem
            line-height: 1.30
            margin-bottom: 1.5rem
        &__discription
            line-height: 1.30
            margin: auto
            max-width: 23.125rem
            width: 100%
            font-size: 1rem
    &__calc
        &__container
            display: flex 
            &__titles
                
                max-width: 15.9375rem
                width: 100%  
                font-size: 1.1875rem
                line-height: 1.30
            &__heading
                font-weight: normal
                margin: 0
        &-data
            max-width: 20.5rem
            width: 100%
            display: flex
            align-items: center
            padding-bottom: 40px
            margin-bottom: 40px
            border-bottom: 0.0625rem solid rgba(234, 241, 247, 1)
            &__text
                font-size: 1rem
                font-weight: lighter
                line-height: 1.30

            &__smaller
                padding-left: 3.875rem
                max-width: 21.0625rem
                width: 100%
            &:last-of-type
                margin-bottom: 0
            &__input
                width: 6.125rem
                height: 3rem
                text-indent: 1.25rem
                border: 0.0625rem solid rgba(207, 222, 238, 1)
                border-radius: 0.3125rem
                margin-right: 37.7136px
    .no-border
        border: none
    &-button__container
        display: flex
        justify-content: center
        margin-top: 2rem
        
    &__button
        padding: 1.125rem 1.6875rem 0.9375rem
        text-decoration: none
        text-transform: uppercase
        font-weight: bold
        font-size: 1.0625rem
        border: none
        border-radius: 0.3125rem
        cursor: pointer
        background-color: $darkerBlue
        color: $light